* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

.App {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.losAndesLogoContenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.LosAndesLogo {
    height: 200px;
}

.contenerdorPrincipal {
    height: 250px;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}